.stylish-button {
    -fx-background-color: #007BFF; /* カッコいい青の背景色 */
    -fx-text-fill: white; /* テキストの色 */
    -fx-font-family: 'Arial'; /* かっこいいフォントを指定（フォントがインストールされている必要があります） */
    -fx-font-size: 16px; /* フォントサイズ */
    -fx-font-weight: bolder; /* より太字にする */
    -fx-padding: 10px 20px; /* パディング */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.40), 10, 0, 0, 0); /* 影の追加 */
    -fx-background-radius: 20;
}


.stylish-button:hover {
    -fx-background-color: #0056b3; /* マウスホバー時の背景色 */
}


